body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  background-color: black;
  color: white;
}

h1{
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}

h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

.my-img{
  border-radius: 50%;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}

.top-container{

}

.mid-container{

}

.bot-container{

}
